@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: -webkit-linear-gradient(#26c6da, #009fb5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purpleShadow {
  box-shadow: 3px 3px 1px 1px lavender;
}

.purpleShadow:hover {
  transform: translateX(3px, 3px);
  box-shadow: 0px 0px 1px 1px lavender;
}

.bg-notebook {
  background-image: linear-gradient(to bottom, #e0f7fa 85px, transparent 0px);
  background-size: 100% 85px;
}
.sm-bg-notebook {
  background-image: linear-gradient(to bottom, #e0f7fa 65px, transparent 0px);
  background-size: 100% 65px;
}

/* Background with notebook lines */
.bg-notebook-lines {
  background-color: white; /* Set the background color to white */
  background-image: 
    linear-gradient(to bottom, #959595 1px, transparent 1px),
    linear-gradient(to bottom, transparent 29px, #e0f7fa 30px);
  background-size: 100% 30px;
  margin-top: 2%;
}

/* Optional: Make the textarea slightly transparent to enhance the effect */
textarea::placeholder {
  color: #959595;
  opacity: 0.7;
}
